* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background: #0d1117;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    border: none;
    outline: none;
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #2c6cff;
    border-radius: 20px;
}